---
import { Image } from "astro:assets";
import GithubIcon from "../icons/GithubIcon.astro";

interface Props {
  title: string;
  description: string;
  link: string;
  github: string;
  image: any;
}

const { title, description, link = "", github, image } = Astro.props;
---

<article
  class="flex justify-center items-start gap-6 sm sm:w-full max-w-4xl h-2xl flex-col-reverse"
>
  <section
    class="image-shadow h-auto flex justify-center items-center flex-1 rounded-md shadow-sm"
  >
    <Image
      src={image}
      alt={"Project picture"}
      class="max-w-full h-auto object-contain rounded-md"
      loading="lazy"
    />
  </section>
  <section
    class="min-h-full h-full flex-1 flex justify-start items-start flex-col gap-2"
  >
    <header class="flex justify-center items-center gap-2">
      <a href={link} target="_blank">
        <h1 class="text-lg font-bold underline text-pink-300">
          {title}
        </h1>
      </a>
      <a href={github} target="_blank">
        <GithubIcon class="size-4 hover:scale-125 transition-transform" />
      </a>
    </header>
    <p class="text-xs sm:text-sm text-gray-100">
      {description}
    </p>
    <span class="flex flex-row gap-2 py-1.5 rounded-xl">
      <slot />
    </span>
  </section>
</article>

<style>
  .image-shadow {
    box-shadow: 1px 1px 30px 15px rgba(0, 0, 0, 0.3);
  }
</style>
